body {
	margin: 0;
	padding: 0;
}

.menu-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.menu {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.menu li {
	margin: 10px 0;
}

.menu li a {
	display: block;
	padding: 10px 20px;
	background-color: #ccc;
	border-radius: 5px;
	text-decoration: none;
	color: #333;
	font-weight: bold;
}